$green: green

div
    box-sizing: border-box

h1 
    color: $green
    
.board
    padding: 10px
    background-color: $green
    display: flex
    justify-content: center
    flex-wrap: wrap
    
.letter
    background-color: white
    text-transform: uppercase
    margin: 15px
    border: 3px solid black
    font-size: 30px
    font-family: sans-serif
    height: 100px
    width: 70px
    text-align: center
    line-height: 100px
    
    
.folded
    background-color: grey
    font-size: 0
    box-shadow: inset 5px 5px 5px rgba(0,0,0, 0.6)
    
.space
    background-color: $green
    
.game-status
    overflow-y: scroll
    height: 100px
    width: 400px
    